<p>
  container works!
</p>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div id="MultipleContainers">
          <ul class="StackedList">
              <li class="StackedListItem ">
                  <div class="StackedListContent StackedListItem--isDraggable">
                    <h4 class="Heading Heading--size4 text-no-select">23123123123</h4>
                    <div class="">giraffe</div>
                      <div class="Pattern Pattern--typeHalftone"></div>
                      <div class="Pattern Pattern--typePlaced"></div>
                  </div>
                </li>
                <li class="StackedListItem StackedListItem--isDraggable">
                    <div class="StackedListContent">
                      <h4 class="Heading Heading--size4 text-no-select">23123123123</h4>
                      <div class="">giraffe</div>
                        <div class="Pattern Pattern--typeHalftone"></div>
                        <div class="Pattern Pattern--typePlaced"></div>
                    </div>
                  </li>
                  <li class="StackedListItem StackedListItem--isDraggable">
                      <div class="StackedListContent">
                        <h4 class="Heading Heading--size4 text-no-select">23123123123</h4>
                        <div class="">giraffe</div>
                          <div class="Pattern Pattern--typeHalftone"></div>
                          <div class="Pattern Pattern--typePlaced"></div>
                      </div>
                    </li>
          </ul>
      </div>
        
    </div>
  </div>
</div>